<!-- 面包屑 -->
<div class="menu clearfix">
    <h3 class="list_menu">
        <span [routerLink]="['/home']">首页</span><i></i>
        <span [routerLink]="['/content/basin']" [ngClass]="{'select': routerUrl.url == '/content/basin'}">大数据统计</span><i></i>
        <span [routerLink]="['/content/lockTotal']" [ngClass]="{'select': routerUrl.url == '/content/lockTotal'}">全国水闸统计</span><i></i>
        <span [routerLink]="['/content/waterGate']" [ngClass]="{'select': routerUrl.url == '/content/waterGate'}">地方水闸信息</span>
    </h3>
</div>
<!-- 内容 -->
<div class="content">
    <router-outlet></router-outlet>
</div>
