<div class="cinMiddle_box">
    <h3>全国流域水利工程
      <i class="vice" (click)='switch(false)'>切换行政区地图</i>
      <select class="fr one" [(ngModel)]="sizeOfthe" (change)="riverLevenl()">
        <option value="">工程规模</option>
        <option *ngIf="levnl" value="大（1）型">大(1)型</option>
        <option *ngIf="levnl" value="大（2）型">大(2)型</option>
        <option *ngIf="levnl" value="中型">中型</option>
        <option *ngIf="levnl" value="小（1）型">小(1)型</option>
        <option *ngIf="levnl" value="小（2）型">小(2)型</option>
      </select>
      <select class="fr two" [(ngModel)]="levnl" (change)="riverLevenl()">
        <option value="">工程等别</option>
        <option value="Ⅰ">Ⅰ</option>
        <option value="Ⅱ">Ⅱ</option>
        <option value="Ⅲ">Ⅲ</option>
        <option value="Ⅳ">Ⅳ</option>
        <option value="Ⅴ">Ⅴ</option>
      </select>
      <i class="fr refresh" (click)="emptyAll()"></i>
    </h3>
  </div>
<div class="map" id="container"></div>