.contentSidedge,
.contentMiddle {
  height: 100%;
}

.contentSidedge {
  width: 30%;
}

.contentMiddle {
  width: 40%;
  position: relative;
}

[nz-carousel-content] {
  height: 100%;
  overflow: hidden;
}

.img_list {
  width: 100%;
  height: 100%;
}

.contentSidedge>.onthe_left {
  height: 50%;
  position: relative;
}

.contentSidedge>.onthe_left>.back_img {
  position: absolute;
  top: -2%;
  left: 0;
  width: 100%;
  height: 103%;
  z-index: 1;
}

.contentSidedge>.onthe_left>.title {
  position: absolute;
  top: -.6rem;
  left: 11%;
  font-size: 1.6rem;
  color: #41EFF9;
}

.contentSidedge>.onthe_left>.title>img {
  margin-left: 1.8rem;
  height: 1rem;
}

.contentSidedge>.onthe_left>.onthe_left_content {
  position: absolute;
  top: 2%;
  padding: 0 2rem;
  height: 98%;
  z-index: 2;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_show {
  width: 45%;
  height: 50%;
  background: url("/assets/image/zonghepingjia.png")no-repeat center/100%;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_show>h3 {
  text-align: center;
  font-size: 2rem;
  color: #1EF0F9;
  margin-top: 27%;
  margin-bottom: .4rem;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_show>p {
  color: #1EF0F9;
  font-size: 1.1rem;
  text-align: center;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_introduce {
  width: 55%;
  margin-top: 10%;
  height: 35%;
  overflow: auto;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_introduce>p {
  margin-bottom: .4rem;
  height: 3rem;
  line-height: 3rem;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_introduce>p>img {
  width: 1.4rem;
  margin-right: .7rem;
  margin-bottom: -.2rem;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_introduce>p>span {
  color: #FFFFFF;
  font-size: 1.4rem;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_introduce>p>em {
  width: 50%;
  height: 3rem;
  font-size: 1.4rem;
  text-align: center;
  line-height: 3rem;
  background: url("/assets/image/neirongkuang_lan.png")no-repeat center/100% 100%;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_introduce>p>.yellow {
  color: #F8B62D;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_introduce>p>.red {
  color: #F82D37;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_list {
  margin-top: 5%;
  width: 100%;
  height: 40%;
  overflow: auto;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_list>li {
  width: 24.5%;
  text-align: center;
  margin-right: .5%;
  margin-bottom: .6rem;
  background: url("/assets/image/gongchegnpingjia.png")no-repeat center/100% 100%;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_list>li:nth-child(4n) {
  margin-right: 0;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_list>li>h3 {
  color: #63EEFA;
  font-size: 1rem;
  margin: 1.4rem 0 .2rem;
}

.contentSidedge>.onthe_left>.onthe_left_content>.onthe_list>li>p {
  color: #fff;
  font-size: .6rem;
  margin-bottom: .8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contentMiddle>.onthe_middle {
  height: 50%;
  position: relative;
}

.contentMiddle>.onthe_middle>h3 {
  color: #00ECFC;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  height: 6%;
  letter-spacing: 2px;
}

.contentMiddle>.onthe_middle>.onthe_image {
  height: 91.5%;
  overflow: hidden;
}

.contentMiddle>.onthe_middle>.onthe_image>.buton_span {
  position: absolute;
  bottom: 10px;
  color: #00ECFC;
  right: 10px;
  border-radius: 3px;
  padding: 2px 10px;
  border: 2px solid #27A6C2;
  cursor: pointer;
}

.contentSidedge>.onthe_right {
  height: 100%;
}

.contentSidedge>.onthe_right>.onRight_menu {
  margin: 0 0 0 16%;
  width: 80%;
  height: 4%;
  overflow: hidden;
}

.contentSidedge>.onthe_right>.onRight_menu>li{
  width: 26%;
  height: 100%;
  margin-right: 2%;
  cursor: pointer;
  transition: .5s;
  position: relative;
  background: url("/assets/image/qiehuankuang_off.png")no-repeat center/100% 100%;
}

.contentSidedge>.onthe_right>.onRight_menu>li>i,
.contentSidedge>.under_left>.under_introduce>li>i {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #27A6C2;
  font-size: 1.6rem;
  text-align: center;
  margin-top: -1rem;
}

.contentSidedge>.onthe_right>.onRight_menu>li:hover,
.contentSidedge>.under_left>.under_introduce>li:hover,
.contentSidedge>.onthe_right>.onRight_menu>.select,
.contentSidedge>.under_left>.under_introduce>.select {
  color: #41EFF9;
  background: url("/assets/image/qiehuankuagn_on.png")no-repeat center/100% 100%;
}

.contentSidedge>.onthe_right>.onRight_list {
  width: 100%;
  height: 96%;
  background: url("/assets/image/dikuang_three.png")no-repeat center/100% 100%;
  overflow: hidden;
}

.contentSidedge>.onthe_right>.onRight_list>.onRihgt_back {
  width: 100%;
  height: 100%;
}

.contentSidedge>.onthe_right>.onRight_list>.onRihgt_content {
  margin: 3% auto 0;
  width: 86%;
  height: 93%;
  border: 1px solid rgba(16, 106, 162, 1);
  overflow: auto;
}

.contentSidedge>.onthe_right>.onRight_list>.onRightTable {
  margin: 4% auto 0;
  width: 86%;
  height: 92%;
  overflow: auto;
}

.contentSidedge>.onthe_right>.onRight_list>.onRihgt_content>li {
  width: 100%;
  border-bottom: 1px solid rgba(16, 106, 162, 1);
}

.contentSidedge>.onthe_right>.onRight_list>.onRightTable>.onRight_item_list {
  margin: 3% 0 1%;
  border: 1px solid rgba(16, 106, 162, 1);
  overflow: hidden;
}

.contentSidedge>.onthe_right>.onRight_list>.onRihgt_content>li>span,
.contentSidedge>.onthe_right>.onRight_list>.onRightTable>.onRight_item_list>span {
  display: inline-block;
  width: 24%;
  font-size: 1.6rem;
  color: #41EFF9;
  margin: 1.25rem 0 1.25rem;
}

.contentSidedge>.onthe_right>.onRight_list>.onRihgt_content>li>.name,
.contentSidedge>.onthe_right>.onRight_list>.onRightTable>.onRight_item_list>.name {
  margin: 1.25rem 0 1.25rem 1.25rem;
}

.contentSidedge>.onthe_right>.onRight_list>.onRihgt_content>li>.list_menu,
.contentSidedge>.onthe_right>.onRight_list>.onRightTable>.onRight_item_list>.list_menu {
  margin-top: .8rem;
  width: 70%;
  overflow: hidden;
}

.contentSidedge>.onthe_right>.onRight_list>.onRihgt_content>li>.list_menu>em,
.contentSidedge>.onthe_right>.onRight_list>.onRihgt_content>li>.name_list>li>em,
.contentSidedge>.onthe_right>.onRight_list>.onRightTable>.onRight_item_list>.list_menu>em {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  padding: .5rem 1.6rem;
  font-size: 1.6rem;
  margin-bottom: .4rem;
  background: url("/assets/image/xiaokuan_off.png")no-repeat center/100% 100%;
  margin-right: 1.2rem;
}

.contentSidedge>.onthe_right>.onRight_list>.onRihgt_content>li>.list_menu>.select,
.contentSidedge>.onthe_right>.onRight_list>.onRihgt_content>li>.name_list>li>.select {
  background: url("/assets/image/canshukaugn_xuanzhong.png")no-repeat center/100% 100%;
}

.contentSidedge>.onthe_right>.onRight_list>.onRihgt_content>li>.name_list {
  width: 100%;
}

.contentSidedge>.onthe_right>.onRight_list>.onRihgt_content>li>.name_list {
  width: 100%;
  overflow: hidden;
}

.contentSidedge>.onthe_right>.onRight_list>.onRihgt_content>li>.name_list>li {
  width: 100%;
  overflow: hidden;
}

.contentSidedge>.onthe_right>.onRight_list>.onRihgt_content>li>.name_list>li>span {
  display: inline-block;
  width: 24%;
  color: #fff;
  font-size: 1.6rem;
  margin: .5rem 0 .5rem 1.25rem;
}

.contentSidedge>.onthe_right>.onRight_list>.onRightTable>.search_key {
  border: none;
  height: auto;
  padding: .3rem .6rem;
  background-color: #106AA2;
  border-radius: .3rem;
}

.contentSidedge>.onthe_right>.onRight_list>.onRightTable>.search_key>li {
  width: 100%;
  margin-bottom: .4rem;
  overflow: hidden;
}

.contentSidedge>.onthe_right>.onRight_list>.onRightTable>.search_key>li>span {
  display: inline-block;
  color: #fff;
  font-size: .6rem;
  padding: .8rem .4rem;
}

.contentSidedge>.onthe_right>.onRight_list>.onRightTable>.search_key>li>.safe_list {
  margin: .5rem .4rem;
  display: inline-block;
  overflow: hidden;
}

.contentSidedge>.onthe_right>.onRight_list>.onRightTable>.search_key>li>.safe_list>i {
  display: inline-block;
  color: #FFF;
  margin: 0 .4rem;
  font-size: .6rem;
  cursor: pointer;
  padding: .2rem .4rem;
}

.contentSidedge>.onthe_right>.onRight_list>.onRightTable>.search_key>li>.safe_list>i[class="select"] {
  background-color: #2591B0;
  border-radius: .2rem;
}

.contentSidedge>.onthe_right>.onRight_list>.onRightTable>table {
  width: 100%;
}

.contentSidedge>.onthe_right>.onRight_list>.onRightTable>table>thead>tr>th {
  color: #fff;
  padding: .4rem 0;
  font-size: .6rem;
  font-weight: bold;
  text-align: center;
}

.contentSidedge>.onthe_right>.onRight_list>.onRightTable>table>tbody>tr>td {
  color: #FFF;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bolder;
  border: 1px solid #106AA2;
}

.contentSidedge>.onthe_right>.onRight_list>.onRightTable>table>tbody>tr>td>span {
  display: inline-block;
  padding: .2rem 1.3rem;
  font-size: .6rem;
  font-weight: bold;
  margin: .5rem 0;
  background: url("/assets/image/xiaokuan_off.png")no-repeat center/100% 100%;
}

.contentSidedge>.onthe_right>.onRight_list>.onRightTable>table>tbody>tr>td>.selct_red {
  color: #E80042;
}

.contentSidedge>.onthe_right>.onRight_list>.onRightTable>table>tbody>tr>td>.selct_eff {
  color: #41EFF9;
}

.contentSidedge>.onthe_right>.onRight_list>.progress_bar {
  margin: 4% auto 0;
  width: 86%;
  height: 76%;
  overflow: auto;
}

.contentSidedge>.onthe_right>.onRight_list>.progress_bar>li {
  position: relative;
  margin-bottom: 5%;
}

.contentSidedge>.onthe_right>.onRight_list>.progress_bar>li>span {
  display: inline-block;
  width: 25%;
  color: #FFF;
  font-size: 1.2rem;
  text-align: center;
  padding: .7rem 0;
  background: url("/assets/image/box_little.png")no-repeat center/100% 100%;
}

.contentSidedge>.onthe_right>.onRight_list>.progress_bar>li>p {
  width: 70%;
  margin-left: 5%;
  margin-bottom: 0;
}

.contentSidedge>.onthe_right>.onRight_list>.progress_bar>li>p>i {
  display: inline-block;
  width: 25%;
  font-size: 1.2rem;
  text-align: center;
  padding: .7rem 0;
  background: url('/assets/image/xiaokuan_off.png')no-repeat center/100% 100%;
}

.contentSidedge>.onthe_right>.onRight_list>.progress_list {
  margin: 5% auto 0;
  width: 86%;
  overflow: hidden;
}

.contentSidedge>.onthe_right>.onRight_list>.progress_list>li {
  margin-right: 2rem;
  font-size: 1.2rem;
}

.contentSidedge>.onthe_right>.onRight_list>.progress_list>li>span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 .6rem 0 0;
}

.contentSidedge>.onthe_right>.onRight_list>.progress_list>.progres_list_a {
  color: #2D70F8;
}

.contentSidedge>.onthe_right>.onRight_list>.progress_list>.progres_list_b {
  color: #F8B62D;
}

.contentSidedge>.onthe_right>.onRight_list>.progress_list>.progres_list_c {
  color: #E80042;
}

.progres_list_a>span {
  background: #2D70F8;
}

.progres_list_b>span {
  background: #F8B62D;
}

.progres_list_c>span {
  background: #E80042;
}

.progress_a {
  color: #2D70F8;
}

.progress_b {
  color: #F8B62D;
}

.progress_c {
  color: #E80042;
}

.contentSidedge>.under_left {
  height: 50%;
  background: url("/assets/image/dikaung.png")no-repeat center/100% 100%;
  position: relative;
  overflow: hidden;
}

.contentSidedge>.under_left>.under_introduce {
  margin: 6% 0 0 5%;
  width: 90%;
  height: 10%;
  overflow: hidden;
}


.contentSidedge>.under_left>.under_introduce>li{
  width: 22%;
  height: 100%;
  margin-right: 2%;
  cursor: pointer;
  transition: .5s;
  position: relative;
  background: url("/assets/image/qiehuankuang_off.png")no-repeat center/100% 100%;
}

.contentSidedge>.under_left>.under_introduce>li:last-child{
  margin-right: 0;
}

.contentSidedge>.under_left>.under_content {
  position: absolute;
  top: 22%;
  left: 5%;
  width: 90%;
  height: 70%;
  opacity: 0;
  z-index: 2;
  background: url("/assets/image/wenzidikuang.png")no-repeat center/100% 100%;
  overflow: auto;
}

.contentSidedge>.under_left>.under_content.select {
  opacity: 1;
  z-index: 3;
}

.contentSidedge>.under_left>.under_content>#underConSimple {
  height: 98%;
}

.contentSidedge>.under_left>.underCon_thead {
  overflow: hidden;
}

.contentSidedge>.under_left>.under_content>.header_img {
  width: 20%;
  height: 100%;
}

.contentSidedge>.under_left>.under_content>.header_img>img {
  width: 60%;
  margin: 30% 20% 5%;
}

.contentSidedge>.under_left>.under_content>.header_img>h3 {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.contentSidedge>.under_left>.under_content>.header_text {
  color: #fff;
  width: 70%;
  height: 100%;
  font-size: 1.6rem;
  position: relative;
  margin-left: 5%;
  overflow: auto;
}

.contentSidedge>.under_left>.under_content>.header_text>p {
  font-size: .6rem;
}

.contentSidedge>.under_left>.under_content>.header_text>.header_cotent {
  margin-top: 9%;
}


.contentSidedge>.under_left>.under_content>.header_text>.header_time {
  position: absolute;
  right: 0;
  bottom: 5%;
}

.contentSidedge>.under_left>.under_content>.underCon_table {
  color: #FFF;
  margin: 0;
  padding: .5rem 0;
  font-size: 1.4rem;
  background: rgba(49, 239, 249, 0.4);
  overflow: hidden;
}

.contentSidedge>.under_left>.under_content>.underCon_tbody {
  margin: 0;
  border-left: 1px solid #657CA8;
  border-right: 1px solid #657CA8;
  max-height: 86%;
  overflow: auto;
}

.contentSidedge>.under_left>.under_content>.underCon_tbody>li {
  color: #FFF;
  font-size: 1.4rem;
  border-bottom: 1px solid #657CA8;
  overflow: hidden;
}

.contentSidedge>.under_left>.under_content>.underCon_tbody>li>span {
  display: inline-block;
  padding: .5rem 0;
}

.contentSidedge>.under_left>.under_content>.underCon_table>li:nth-child(2n-1),
.contentSidedge>.under_left>.under_content>.underCon_tbody>li>.time {
  width: 30%;
  text-align: center;
  border-right: 1px solid #657CA8;
}

.contentSidedge>.under_left>.under_content>.underCon_table>li:nth-child(2n),
.contentSidedge>.under_left>.under_content>.underCon_tbody>li>.text {
  width: 70%;
  text-align: center;
}

.contentSidedge>.under_left>.under_content>.underCon_tbody>li>.text {
  padding-left: .5rem;
  text-align: left;
}

.contentMiddle>.under_right {
  height: 50%;
  position: relative;
  background: url("/assets/image/changkuan.png")no-repeat center/100% 100%;
  overflow: hidden;
}

.contentMiddle>.under_right>h3 {
  position: absolute;
  top: 0;
  left: 9%;
  color: #41EFF9;
  font-size: 1.6rem;
}

.contentMiddle>.under_right>h3>img {
  height: 1rem;
  margin-left: .8rem;
}

.contentMiddle>.under_right>.underRight_content {
  position: absolute;
  top: 10%;
  left: 2%;
  width: 94%;
  height: 83%;
  opacity: 0;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.contentMiddle>.under_right>.underRight_content.select {
  opacity: 1;
  z-index: 2;
}


.table_span {
  display: inline-block;
  color: #B1ECFF;
  padding: .5rem 2rem;
  font-size: 1.5rem;
  background: url("/assets/image/qiehuankuang_off.png")no-repeat center/100% 100%;
}

.table_i {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: .5rem;
  margin-bottom: -.02rem;
}

.table_are {
  background: url("/assets/image/you_lv.png")no-repeat center/100% 100%;
}

.table_none {
  border: 1px solid #D34747;
}

.table_success {
  background-color: #47D386;
}

.table_warning {
  background-color: #D3C747;
}

.table_error {
  background-color: #D34747;
}

.table_bor {
  position: absolute;
  top: 0;
  right: 10%;
  margin: 0;
  width: .5rem;
  height: 100%;
  background-color: rgba(69, 239, 249, 0.4);
  /* background: url("/assets/image/kuohao.png") no-repeat center/100% 100%; */
}

.underTable {
  height: 100%;
  position: relative;
  overflow: auto;
}

.underTable::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

.underTable::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 .1px rgba(0, 0, 0, 0.2);
  background: rgba(49, 239, 249, 1);
}

.underTable::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  background: rgba(49, 239, 249, .2);
}

.underTable>table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 2px;
}

.underTable>table>thead>tr>th,
.underTable>table>tbody>tr>td {
  min-width: 12rem;
  text-align: left;
}

.underTable>table>thead>tr>th:nth-child(1) {
  text-align: center;
}

.underTable>table>tbody>tr>td {
  color: #FFF;
  padding: .5rem 0;
  position: relative;
}

.underTable>table>tbody>tr>td>h3 {
  margin: 0;
  color: #3FEFF9;
  font-size: 1.6rem;
  font-weight: bolder;
  text-align: center;
}

.underTable>table>tbody>tr>.td_back {
  font-size: 1.4rem;
  background: rgba(8, 26, 84, 0);
  border-top: 1px solid rgba(24, 63, 96, 1);
  border-bottom: 1px solid rgba(24, 63, 96, 1);
  box-shadow: 0px 0px 60px 0px rgba(9, 38, 71, .5);
}
