<div class="cinMiddle_box">
  <h3>{{currentCity.name == '全国行政区水利工程' ? currentCity.name : currentCity.name+'水利工程'}}
    <i class="vice" *ngIf="currentCity.name == '全国行政区水利工程'" (click)="switch(true)">切换流域地图</i>
    <select class="fr one" [(ngModel)]="size" (ngModelChange)="searchCity(currentCity.areasId)">
      <option value="">工程规模</option>
      <option *ngIf="rank" value="大（1）型">大(1)型</option>
      <option *ngIf="rank" value="大（2）型">大(2)型</option>
      <option *ngIf="rank" value="中型">中型</option>
      <option *ngIf="rank" value="小（1）型">小(1)型</option>
      <option *ngIf="rank" value="小（2）型">小(2)型</option>
    </select>
    <select class="fr two" [(ngModel)]="rank" (ngModelChange)="searchCity(currentCity.areasId)">
      <option value="">工程等别</option>
      <option value="Ⅰ">Ⅰ</option>
      <option value="Ⅱ">Ⅱ</option>
      <option value="Ⅲ">Ⅲ</option>
      <option value="Ⅳ">Ⅳ</option>
      <option value="Ⅴ">Ⅴ</option>
    </select>
    <i class="fr refresh" (click)="emptyAll()"></i>
  </h3>
</div>
<div class="map_box">
  <div class="echarts" [hidden]="!gaodeMap" echarts [options]="option" [loading]="showloading"
    (chartClick)="selectCity($event)"></div>
  <div class="echarts" [hidden]="gaodeMap" id="gaoMap"></div>
</div>