.bor_47 {
  border: 1px solid #47C978;
}

.bor_00 {
  border: 1px solid #006AE8;
}

.bor_F8 {
  border: 1px solid #F8B62D;
}

.bor_D9 {
  border: 1px solid #D92A5C;
}

.lock_side,
.lock_box {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.lock_side {
  width: 30%;
}

.lock_box {
  width: 40%;
}

.lock_side>.side_list {
  height: 50%;
  position: relative;
  overflow: hidden;
  background: url("/forwcp/assets/image/dikuang_four.png")no-repeat center/100% 100%
}

.lock_side>.side_list>h3 {
  position: absolute;
  top: -.4%;
  left: 11%;
  color: #5CEFF9;
  font-size: 1.6rem;
  margin: 0;
  font-weight: bolder;
}

.lock_side>.side_list>h3>img {
  height: 1rem;
  margin-left: .5rem;
}

.lock_side>.side_list>.sidelist_box {
  margin: 5% auto 0;
  width: 90%;
  height: 90%;
  overflow-y: auto;
}

.lock_side>.side_list>.sidelist_box>.sidecolor_list {
  margin: 2% 0;
  overflow: hidden;
}

.lock_side>.side_list>.sidelist_box>.sidecolor_list>li {
  margin-right: 5%;
  color: #FFFFFF;
  font-size: 1.2rem;
}

.lock_side>.side_list>.sidelist_box>.sidecolor_list>li>i {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 .5rem -.1rem 0;
}

.lock_side>.side_list>.sidelist_box>.side_pie {
  height: 20%;
  min-height: 10rem;
}

.lock_side>.side_list>.sidelist_box>.side_pies {
  height: 45%;
  min-height: 13rem;
  position: relative;
}

.lock_side>.side_list>.sidelist_box>.side_pies>.propor_id {
  width: 100%;
  height: 100%;
}

.lock_side>.side_list>.sidelist_box>.side_pies>.propor_text {
  position: absolute;
  top: 43%;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-size: 1.6rem;
}

.lock_side>.side_list>.sidelist_box>.side_pies>.propor_text>i {
  display: block;
  text-align: center;
}

/*  */

.lock_side>.side_list>.sidelist_box>.side_img>li {
  float: left;
  width: 25%;
  overflow: hidden;
}

.lock_side>.side_list>.sidelist_box>.side_img>li>span {
  display: inline-block;
  border-radius: 50%;
  margin-right: .5rem;
  overflow: hidden;
}

.lock_side>.side_list>.sidelist_box>.side_img>li>span>img {
  margin: 1rem;
  width: 1.8rem;
}

.lock_side>.side_list>.sidelist_box>.side_img>li>h3 {
  color: #FFF;
  font-size: .6rem;
  margin: .4rem 0 0;
}

.lock_side>.side_list>.sidelist_box>.side_img>li>p {
  color: #F8B62D;
  font-weight: bolder;
  font-size: 1.4rem;
}

.lock_side>.side_list>.sidelist_box>.side_progress {
  margin: 0;
}

.lock_side>.side_list>.sidelist_box>.side_progress>li {
  margin-bottom: .4rem;
  overflow: hidden;
}

.lock_side>.side_list>.sidelist_box>.side_progress>li>span {
  display: inline-block;
  width: 15%;
  color: #FFF;
  font-size: 1.2rem;
}

.lock_side>.side_list>.sidelist_box>.side_progress>li>span>i {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 .4rem -0.12rem 0;
  background-color: rosybrown;
}

.lock_side>.side_list>.sidelist_box>.side_progress>li>p {
  width: 85%;
  margin: 0;
}

.lock_side>.side_list>.sidelist_box>.side_pietion {
  height: 65%;
}

.lock_side>.side_list>.sidelist_box>.side_bartion{
  height: 35%;
}


.lock_side>.lockRight_menu {
  margin: 0 0 0 16%;
  width: 75%;
  height: 5%;
  overflow: hidden;
}

.lock_side>.lockRight_menu>li {
  width: 28%;
  height: 100%;
  margin-right: 2%;
  cursor: pointer;
  transition: .5s;
  position: relative;
  background: url("/forwcp/assets/image/qiehuankuang_off.png")no-repeat center/100% 100%;
}

.lock_side>.lockRight_menu>li>i {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #27A6C2;
  font-size: 1.6rem;
  text-align: center;
  margin-top: -.8rem;
}

.lock_side>.lockRight_menu>li:hover,
.lock_side>.lockRight_menu>.select {
  color: #41EFF9;
  background: url("/forwcp/assets/image/qiehuankuagn_on.png")no-repeat center/100% 100%;
}

.lock_side>.lockRight_list {
  height: 100%;
  background: url("/forwcp/assets/image/dikuang_three.png")no-repeat center/100% 100%;
  overflow: hidden;
}

.lock_side>.lockRight_list>h3{
  left: 18%;
}

.lock_side>.lockRight_list>.lockRight_box {
  margin: 5% auto 0;
  width: 87%;
  height: 94%;
  overflow: auto;
}

.lock_side>.lockRight_list>ul {
  border: 1px solid rgba(16, 106, 162, 1);
}

.lock_side>.lockRight_list>.lockRight_box>li {
  width: 100%;
  border-bottom: 1px solid rgba(16, 106, 162, 1);
}

.lock_side>.lockRight_list>.lockRight_box>li>span,
.lock_side>.lockRight_list>.lockRight_box>.onRight_item_list>span {
  display: inline-block;
  width: 24%;
  font-size: 1.6rem;
  color: #41EFF9;
  margin: 1.25rem 0 1.25rem;
}

.lock_side>.lockRight_list>.lockRight_box>li>.name,
.lock_side>.lockRight_list>.lockRight_box>.onRight_item_list>.name {
  margin: 1.25rem 0 1.25rem 1.25rem;
}

.lock_side>.lockRight_list>.lockRight_box>li>.name_list,
.lock_side>.lockRight_list>.lockRight_box>li>.name_list>li {
  width: 100%;
  overflow: hidden;
}

.lock_side>.lockRight_list>.lockRight_box>li>.name_list>li>span {
  display: inline-block;
  width: 24%;
  color: #fff;
  font-size: 1.6rem;
  margin: .5rem 0 .5rem 1.25rem;
}

.lock_side>.lockRight_list>.lockRight_box>li>.name_list>li>em,
.lock_side>.lockRight_list>.lockRight_box>li>.list_menu>em,
.lock_side>.lockRight_list>.lockRight_box>.onRight_item_list>.list_menu>em {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  padding: .5rem 1.6rem;
  font-size: 1.4rem;
  margin-bottom: .4rem;
  background: url("/forwcp/assets/image/xiaokuan_off.png")no-repeat center/100% 100%;
  margin-right: 1.2rem;
}

.lock_side>.lockRight_list>.lockRight_box>li>.name_list>li>.select {
  background: url("/forwcp/assets/image/canshukaugn_xuanzhong.png")no-repeat center/100% 100%;
}

.lock_side>.lockRight_list>.lockRight_box>li>.list_menu,
.lock_side>.lockRight_list>.lockRight_box>.onRight_item_list>.list_menu {
  margin-top: .8rem;
  width: 70%;
  overflow: hidden;
}

.lock_side>.lockRight_list>.lockRight_box>.search_key {
  border: none;
  height: auto;
  padding: .3rem .6rem;
  background-color: #106AA2;
  border-radius: .3rem;
}

.lock_side>.lockRight_list>.lockRight_box>.search_key>li {
  width: 100%;
  margin-bottom: .4rem;
  overflow: hidden;
}

.lock_side>.lockRight_list>.lockRight_box>.search_key>li>span {
  display: inline-block;
  color: #fff;
  font-size: .6rem;
  padding: .8rem .4rem;
}

.lock_side>.lockRight_list>.lockRight_box>.search_key>li>.safe_list {
  display: inline-block;
  overflow: hidden;
}

.lock_side>.lockRight_list>.lockRight_box>.search_key>li>.safe_list>i {
  display: inline-block;
  color: #FFF;
  margin: 0 .4rem;
  font-size: .6rem;
  cursor: pointer;
  padding: .2rem .4rem;
}

.lock_side>.lockRight_list>.lockRight_box>.search_key>li>.safe_list>i[class="select"] {
  background-color: #2591B0;
  border-radius: .2rem;
}

.lock_side>.lockRight_list>.lockRight_box>.onRight_item_list {
  margin: 3% 0 1%;
  border: 1px solid rgba(16, 106, 162, 1);
  overflow: hidden;
}

.lock_side>.lockRight_list>.lockRight_box>table {
  width: 100%;
}

.lock_side>.lockRight_list>.lockRight_box>table>thead>tr>th {
  color: #fff;
  padding: .4rem 0;
  font-size: .6rem;
  font-weight: bold;
  text-align: center;
}

.lock_side>.lockRight_list>.lockRight_box>table>tbody>tr>td {
  color: #FFF;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bolder;
  border: 1px solid #106AA2;
}

.lock_side>.lockRight_list>.lockRight_box>table>tbody>tr>td>span {
  display: inline-block;
  padding: .2rem 1.3rem;
  font-size: .6rem;
  font-weight: bold;
  margin: .5rem 0;
  background: url("/forwcp/assets/image/xiaokuan_off.png")no-repeat center/100% 100%;
}

.lock_side>.lockRight_list>.lockRight_box>table>tbody>tr>td>.selct_red {
  color: #E80042;
}

.lock_side>.lockRight_list>.lockRight_box>table>tbody>tr>td>.selct_eff {
  color: #41EFF9;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_list {
  overflow: hidden;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_list>li {
  margin-right: 2rem;
  font-size: 1.2rem;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_list>li>span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 .6rem 0 0;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_list>.progres_list_a {
  color: #2D70F8;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_list>.progres_list_a>span{
  background-color: #2D70F8;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_list>.progres_list_b {
  color: #F8B62D;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_list>.progres_list_b>span{
  background-color: #F8B62D;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_list>.progres_list_c {
  color: #E80042;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_list>.progres_list_c>span{
  background-color: #E80042;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_bar{
  overflow: hidden;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_bar>li{
  position: relative;
  overflow: hidden;
  margin: 4% 4% 8%;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_bar>li>span{
  position: absolute;
  top: 50%;
  width: 26%;
  color: #FFF;
  font-size: 1.4rem;
  text-align: right;
  margin-top: -.7rem;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_bar>li>.progresing{
  width: 70%;
  padding-left: 4%;
  position: relative;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_bar>li>.progresing::before{
  content: "";
  position: absolute;
  top: 2%;
  left: 0;
  width: 4%;
  height: 92%;
  background: url("/forwcp/assets/image/gaikuo_lan.png")no-repeat center/100% 100%;
  overflow: hidden;
}

.lock_side>.lockRight_list>.lockRight_box>.progress_bar>li>.progresing>p{
  margin-bottom: .4rem;
}


.lock_box>.conMiddle_top {
  height: 80%;
  overflow: hidden;
}

.lock_box>.conMiddle_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
}

.lock_box>.conMiddle_bottom>h3 {
  color: #52F1FA;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.lock_box>.conMiddle_bottom>h3>i {
  color: #0D9098;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bolder;
  border-bottom: 1px solid #0D9098;
}

.lock_box>.conMiddle_bottom>.conMiddle_box {
  height: 88%;
}

.lock_box>.conMiddle_bottom>h3>select{
  margin-right: 1.5rem;
  height: 2rem;
  font-size: 1.2rem;
  border: none;
  background-color: #030B29;
}

.lock_box>.conMiddle_top>.map_box{
  height: 90%;
  overflow: hidden;
}


.side_list>.sidEdge {
  height: 33.33%;
  position: relative;
  background: url("/forwcp/assets/image/dikuang_four.png")no-repeat center/100% 100%;
}


.side_list>.sidEge_category_left {
  position: absolute;
  top: 9%;
  left: 5%;
  overflow: hidden;
}

.side_list>.sidEge_category_left>li {
  float: left;
  margin-left: .8rem;
  color: #FFF;
  font-size: 1.1rem;
}

.side_list>.sidEge_category_left>li>i {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  margin-bottom: -.1rem;
}

.side_list>.proportion_list {
  width: 30%;
  max-height: 78%;
  overflow: auto;
  margin: 8% 0 0px 8%;
}

.side_list>.proportion_list.three{
  margin: 15% 0 0px 7%;
}

.side_list>.proportion_list.three>li{
  margin-bottom: 14%;
  overflow: hidden;
}

.side_list>.proportion_list>li>nz-progress {
  margin-right: 1.3rem;
}

.side_list>.proportion_list>li>h3 {
  color: #FFF;
  font-size: 1.2rem;
  margin: 0;
}

.side_list>.proportion_list>li>h3>span {
  color: #F8B62D;
  font-size: 1.5rem;
}

.side_list>.proportion_list>li>p {
  color: #3EEFF9;
  font-size: .6rem;
  margin: 0;
}

.side_list>.propor_box {
  width: 62%;
  height: 89%;
  margin-top: 5%;
  position: relative;
}

.side_list>.propor_box>.propor_id {
  width: 100%;
  height: 100%;
}

.side_list>.propor_box>.propor_text {
  position: absolute;
  top: 43%;
  left: 42%;
  color: #FFF;
  font-size: 1.6rem;
}

.side_list>.propor_box>.propor_text>i {
  display: block;
  text-align: center;
}