.bor_47 {
  border: 1px solid #47C978;
}

.bor_00 {
  border: 1px solid #006AE8;
}

.bor_F8 {
  border: 1px solid #F8B62D;
}

.bor_D9 {
  border: 1px solid #D92A5C;
}

.lock_side,
.lock_box {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.lock_side {
  width: 30%;
}

.lock_box {
  width: 40%;
}

.lock_side>.side_list {
  height: 50%;
  position: relative;
  overflow: hidden;
  background: url("/assets/image/dikuang_four.png")no-repeat center/100% 100%
}

.lock_side>.side_list>h3 {
  position: absolute;
  top: -.4%;
  left: 11%;
  color: #5CEFF9;
  font-size: 1.6rem;
  margin: 0;
  font-weight: bolder;
}

.lock_side>.side_list>h3>img {
  height: 1rem;
  margin-left: .5rem;
}

.lock_side>.side_list>.sidelist_box {
  margin: 5% auto 0;
  width: 90%;
  height: 90%;
  overflow-y: auto;
}

.lock_side>.side_list>.sidelist_box>.sidecolor_list {
  margin: 2% 0;
  overflow: hidden;
}

.lock_side>.side_list>.sidelist_box>.sidecolor_list>li {
  margin-right: 5%;
  color: #FFFFFF;
  font-size: 1.2rem;
}

.lock_side>.side_list>.sidelist_box>.sidecolor_list>li>i {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 .5rem -.1rem 0;
}

.lock_side>.side_list>.sidelist_box>.side_pie {
  height: 20%;
  min-height: 10rem;
}

.lock_side>.side_list>.sidelist_box>.side_pies {
  height: 45%;
  min-height: 13rem;
  position: relative;
}

.lock_side>.side_list>.sidelist_box>.side_pies>.propor_id {
  width: 100%;
  height: 100%;
}

.lock_side>.side_list>.sidelist_box>.side_pies>.propor_text {
  position: absolute;
  top: 43%;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-size: 1.6rem;
}

.lock_side>.side_list>.sidelist_box>.side_pies>.propor_text>i {
  display: block;
  text-align: center;
}

/*  */

.lock_side>.side_list>.sidelist_box>.side_img>li {
  float: left;
  width: 25%;
  overflow: hidden;
}

.lock_side>.side_list>.sidelist_box>.side_img>li>span {
  display: inline-block;
  border-radius: 50%;
  margin-right: .5rem;
  overflow: hidden;
}

.lock_side>.side_list>.sidelist_box>.side_img>li>span>img {
  margin: 1rem;
  width: 1.8rem;
}

.lock_side>.side_list>.sidelist_box>.side_img>li>h3 {
  color: #FFF;
  font-size: .6rem;
  margin: .4rem 0 0;
}

.lock_side>.side_list>.sidelist_box>.side_img>li>p {
  color: #F8B62D;
  font-weight: bolder;
  font-size: 1.4rem;
}

.lock_side>.side_list>.sidelist_box>.side_progress {
  margin: 0;
}

.lock_side>.side_list>.sidelist_box>.side_progress>li {
  margin-bottom: .4rem;
  overflow: hidden;
}

.lock_side>.side_list>.sidelist_box>.side_progress>li>span {
  display: inline-block;
  width: 15%;
  color: #FFF;
  font-size: 1.2rem;
}

.lock_side>.side_list>.sidelist_box>.side_progress>li>span>i {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 .4rem -0.12rem 0;
  background-color: rosybrown;
}

.lock_side>.side_list>.sidelist_box>.side_progress>li>p {
  width: 85%;
  margin: 0;
}

.lock_side>.side_list>.sidelist_box>.side_pietion {
  height: 65%;
}

.lock_side>.side_list>.sidelist_box>.side_bartion {
  height: 35%;
}


.lock_side>.lockRight_menu {
  margin: 0 0 0 16%;
  width: 75%;
  height: 5%;
  overflow: hidden;
}

.lock_side>.lockRight_menu>li {
  width: 28%;
  height: 100%;
  margin-right: 2%;
  cursor: pointer;
  transition: .5s;
  position: relative;
  background: url("/assets/image/qiehuankuang_off.png")no-repeat center/100% 100%;
}

.lock_side>.lockRight_menu>li>i {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #27A6C2;
  font-size: 1.6rem;
  text-align: center;
  margin-top: -.8rem;
}

.lock_side>.lockRight_menu>li:hover,
.lock_side>.lockRight_menu>.select {
  color: #41EFF9;
  background: url("/assets/image/qiehuankuagn_on.png")no-repeat center/100% 100%;
}

.lock_side>.onthe_right {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

.onthe_right>.onRight_list {
  width: 100%;
  height: 96%;
  background: url("/assets/image/dikuang_three.png")no-repeat center/100% 100%;
  overflow: hidden;
}

.lockRight_box {
  margin: 4% 4% 0 6%;
  width: 90%;
  height: 92%;
}

.onRight_menu {
  margin: 0 0 0 16%;
  width: 80%;
  height: 4%;
  overflow: hidden;
}

.onRight_menu>li {
  width: 35%;
  height: 100%;
  margin-right: 2%;
  cursor: pointer;
  transition: .5s;
  position: relative;
  background: url("/assets/image/qiehuankuang_off.png")no-repeat center/100% 100%;
}

.onRight_menu>li>i {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #27A6C2;
  font-size: 1.6rem;
  text-align: center;
  margin-top: -1rem;
}

.onRight_menu>li:hover,
.onRight_menu>.select {
  color: #41EFF9;
  background: url("/assets/image/qiehuankuagn_on.png")no-repeat center/100% 100%;
}

.lock_box>.conMiddle_top {
  height: 65%;
  overflow: hidden;
}

.lock_box>.conMiddle_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35%;
}

.lock_box>.conMiddle_bottom>h3 {
  color: #52F1FA;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.lock_box>.conMiddle_bottom>h3>i {
  color: #0D9098;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bolder;
  border-bottom: 1px solid #0D9098;
}

.lock_box>.conMiddle_bottom>.conMiddle_box {
  height: 88%;
}

.lock_box>.conMiddle_bottom>h3>select {
  margin-right: 1.5rem;
  height: 2rem;
  font-size: 1.2rem;
  border: none;
  background-color: #030B29;
}

.lock_box>.conMiddle_top>.map_box {
  height: 90%;
  overflow: hidden;
}


.side_list>.sidEdge {
  height: 33.33%;
  position: relative;
  background: url("/assets/image/dikuang_four.png")no-repeat center/100% 100%;
}


.side_list>.sidEge_category_left {
  position: absolute;
  top: 9%;
  left: 5%;
  overflow: hidden;
}

.lock_levenl {
  height: 4%;
  margin: 1% 0;
  overflow: hidden;
}

.side_list>.sidEge_category_left>li,
.lock_levenl>li {
  float: left;
  margin-left: .8rem;
  color: #FFF;
  font-size: 1.1rem;
}

.side_list>.sidEge_category_left>li>i,
.lock_levenl>li>i {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  margin-bottom: -.1rem;
}

.side_list>.proportion_list {
  width: 30%;
  max-height: 78%;
  overflow: auto;
  margin: 8% 0 0px 8%;
}

.side_list>.proportion_list.three {
  margin: 15% 0 0px 7%;
}

.side_list>.proportion_list.three>li {
  margin-bottom: 14%;
  overflow: hidden;
}

.side_list>.proportion_list>li>nz-progress {
  margin-right: 1.3rem;
}

.side_list>.proportion_list>li>h3 {
  color: #FFF;
  font-size: 1.2rem;
  margin: 0;
}

.side_list>.proportion_list>li>h3>span {
  color: #F8B62D;
  font-size: 1.5rem;
}

.side_list>.proportion_list>li>p {
  color: #3EEFF9;
  font-size: .6rem;
  margin: 0;
}

.side_list>.propor_box {
  width: 62%;
  height: 89%;
  margin-top: 5%;
  position: relative;
}

.side_list>.propor_box>.propor_id {
  width: 100%;
  height: 100%;
}

.side_list>.propor_box>.propor_text {
  position: absolute;
  top: 43%;
  left: 0;
  color: #FFF;
  width:100%;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
}

.side_list>.propor_box>.propor_text>i {
  display: block;
  text-align: center;
}

.lockbox_menu {
  width: 90%;
  height: 100%;
  overflow-y: auto;
}

.lockserial {
  width: 10%;
  height: 100%;
  margin: 0;
}

.lockbox_menu>li {
  margin-top: 1rem;
  cursor: pointer;
  overflow: hidden;
}

.lockbox_menu>li>input {
  width: 100%;
  outline: none;
  color: #3FEFF9;
  border:1px solid rgba(24, 63, 96, 1);
  padding-left: 1.2rem;
  background: none;
}

.lockbox_menu>li>span {
  display: inline-block;
  width: 100%;
  color: #22959E;
  font-size: .6rem;
  padding: .5rem 1rem;
  background-image: linear-gradient(to bottom right, rgba(40, 222, 237, .2), rgba(40, 222, 237, 0));
}

.lockserial>li {
  height: 3.7%;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: .6rem;
}

.lockserial>li>span {
  display: inline-block;
  color: #FFF;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

.lockserial>li>.select {
  color: #000;
  background-color: #28DEED;
}

.lockmenu_list {
  overflow: hidden;
}

.lockmenu_list>li {
  cursor: pointer;
  color: #FFF;
  padding: .8rem 2rem;
  font-size: 1rem;
  margin: .8rem 0;
  background-color: rgba(15, 207, 247, .1);
  transition: all .3s initial;
}

.lockmenu_list>li:hover {
  background-repeat: no-repeat;
  background-image: url('/assets/image/xuanzhong_sijiao.png');
  background-position: center;
  background-size: 100% 100%;
}


.lock_facilities {
  margin: 0;
  height: 94%;
  overflow-y: auto;
}

.lock_facilities>li {
  padding-top: 3rem;
  overflow: auto;
}

.lock_facilities>li>span {
  display: inline-block;
  padding: .8rem 0;
  margin-right: 4%;
  width: 20%;
  color: #FFF;
  text-align: center;
  font-size: 1.2rem;
  background: url("/assets/image/box_little.png")no-repeat center/100% 100%;
  overflow: hidden;
}

.lock_facilities>li>.statistics {
  margin: .8rem 0;
  width: 70%;
  height: 2rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, .5);
}

.lock_facilities>li>.statistics>i {
  display: inline-block;
  height: 2rem;
  position: relative;
}

.lock_facilities>li>.statistics>i:nth-child(1) {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.lock_facilities>li>.statistics>.percentage {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.lock_facilities>li>.statistics>i>em {
  position: absolute;
  top: -110%;
  right: 0;
  font-size: .6rem;
  z-index: 1;
}
