#chart-panel {
  width: 100%;
  height: 0;
}

#chart {
  width: 40%;
  height: 500px;
}

.back {
  position: absolute;
  width: 100px;
  padding: 10px 0;
  top: 30px;
  right: 50px;
  background: #1c71fb;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100
}

.map_tips {
  position: absolute;
  width: 273px;
  height: 218px;
  color: #fff;
  font-size: 14px;
  background-repeat: no-repeat;
  background-image: url("https://s2.ax1x.com/2019/04/26/EmXmcj.png");
  background-size: 100% 100%;
  z-index: 9;
  pointer-events: none;
  display: none
}

.map_tips_city {
  margin-top: 35px;
  margin-left: 32px
}

.map_tips_group {
  margin-top: 29px;
  margin-left: 82px
}

.map_tips_group div {
  margin-top: 10px
}

#container {
  display: "none";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

select {
  display: inline-block;
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: calc(2.2rem + 2px);
  margin-bottom: 0;
  opacity: 0;
}

#chart-panel>div:nth-child(1) {
  position: absolute;
  z-index: 8
}
