<div id="chart-panel">
  <div class="map_tips">
    <div v-cloak class="map_tips_city"></div>
    <div class="map_tips_group">
      <div class="map_tips_lol"></div>
      <div class="map_tips_king"></div>
      <div class="map_tips_cf"></div>
      <div class="map_tips_car"></div>
    </div>
  </div>
  <div id="container"></div>
  <div class="back">返回</div>
  <div class="input-card">
    <div class="input-item">
      <select id='province' style="width:100px"></select>
    </div>
    <div class="input-item">
      <select id='city' style="width:100px"></select>
    </div>
    <div class="input-item">
      <select id='district' style="width:100px"></select>
    </div>
  </div>
  <div id="chart"></div>
</div>
