.uplogin{
    cursor: pointer;
    margin-right: 5rem;
    overflow: hidden;
}
.uplogin>i{
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 1rem -.4rem;
    background: url("/forwcp/assets/image/tuichu_lan@2x.png")no-repeat center/100% 100%;
}
.uplogin>span{
    display: inline-block;
    font-size: 2rem;
    color: #41EFF9;
}
.title{
    margin: 2% auto;
    height: 5%;
    display: block;
}
.listmenu{
    display: inline-block;
    width: 80%;
    margin: 2% 10% 0;
    overflow: hidden;
}

.listmenu>li{
    float: left;
    width: 18%;
    padding: 3%;
    margin-right: 2%;
    margin-bottom: 3%;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: url("/forwcp/assets/image/weixuanzhong@2x.png")no-repeat center/100% 100%;
}

.listmenu>li:nth-child(5n){
    margin-right: 0;
}

.listmenu>li>.img{
    display: block;
    width: 29%;
    height: 5rem;
    margin: 0 auto 6%
}

.listmenu>li>p{
    color: #41EFF9;
    font-size: .6rem;
    text-align: center;
}

.listmenu>li:hover{
    background: url("/forwcp/assets/image/xuanzhong_gaolaing@2x.png")no-repeat center/100% 100%;
}

.listmenu>li:hover>p{
    color: #FFF;
}

.listmenu>li>.dashuju{
    background: url("/forwcp/assets/image/dashuju_jianbian@2x.png")no-repeat center/100% 100%;
}

.listmenu>li:hover>.dashuju{
    background: url("/forwcp/assets/image/dashuju_bai@2x.png")no-repeat center/100% 100%;
}

.listmenu>li>.yonghu_jiabian{
    background: url("/forwcp/assets/image/yonghu_jiabian@2x.png")no-repeat center/100% 100%;
}

.listmenu>li:hover>.yonghu_jiabian{
    background: url("/forwcp/assets/image/yonghu_bai@2x.png")no-repeat center/100% 100%;
}

.listmenu>li>.jiance_jianbian{
    background: url("/forwcp/assets/image/jiance_jianbian@2x.png")no-repeat center/100% 100%;
}

.listmenu>li:hover>.jiance_jianbian{
    background: url("/forwcp/assets/image/jiance_bai@2x.png")no-repeat center/100% 100%;
}

.listmenu>li>.fenxi_jianbian{
    width: 24%;
    background: url("/forwcp/assets/image/fenxi_jianbian@2x.png")no-repeat center/100% 100%;
}

.listmenu>li:hover>.fenxi_jianbian{
    background: url("/forwcp/assets/image/fenxi_bai@2x.png")no-repeat center/100% 100%;
}

.listmenu>li>.guanli_jianbian{
    width: 24%;
    background: url("/forwcp/assets/image/guanli_jianbian@2x.png")no-repeat center/100% 100%;
}

.listmenu>li:hover>.guanli_jianbian{
    background: url("/forwcp/assets/image/guanli_bai@2x.png")no-repeat center/100% 100%;
}

.listmenu>li>.xinxi_jianbian{
    background: url("/forwcp/assets/image/xinxi_jianbian@2x.png")no-repeat center/100% 100%;
}

.listmenu>li:hover>.xinxi_jianbian{
    background: url("/forwcp/assets/image/xinxi_bai@2x.png")no-repeat center/100% 100%;
}

.listmenu>li>.tixing_jianbian{
    width: 24%;
    background: url("/forwcp/assets/image/tixing_jianbian@2x.png")no-repeat center/100% 100%;
}

.listmenu>li:hover>.tixing_jianbian{
    background: url("/forwcp/assets/image/tixing_bai@2x.png")no-repeat center/100% 100%;
}

.listmenu>li>.xingzheng_jianbian{
    background: url("/forwcp/assets/image/xingzheng_jianbian@2x.png")no-repeat center/100% 100%;
}

.listmenu>li:hover>.xingzheng_jianbian{
    background: url("/forwcp/assets/image/xingzheng_bai@2x.png")no-repeat center/100% 100%;
}

.listmenu>li>.yauncheng_jianbian{
    width: 24%;
    background: url("/forwcp/assets/image/yauncheng_jianbian@2x.png")no-repeat center/100% 100%;
}

.listmenu>li:hover>.yauncheng_jianbian{
    background: url("/forwcp/assets/image/yauncheng_bai@2x.png")no-repeat center/100% 100%;
}

.listmenu>li>.huishang_zanwu{
    width: 24%;
    background: url("/forwcp/assets/image/huishang_zanwu@2x.png")no-repeat center/100% 100%;
}
.listmenu>.dis,
.listmenu>.dis:hover{
    outline: none !important;
    opacity: .8;
    background: url("/forwcp/assets/image/weixuanzhong@2x.png")no-repeat center/100% 100%;
}

.listmenu>.dis>p,
.listmenu>.dis:hover>p{
    color: rgb(0, 0, 0);
}