<div class="fr uplogin">
    <!-- <i class="login_ico"></i>
    <span>退出</span> -->
</div>
<img class="title" src="assets/image/title@2x.png" alt="">
<ul class="listmenu">
    <li routerLink="/content">
        <span class="img jiance_jianbian"></span>
        <p>监管平台</p>
    </li>
    <li (click)="openLink()">
        <span class="img guanli_jianbian"></span>
        <p>管理系统</p>
    </li>
    <li routerLink="/miningData/timeline">
        <span class="img dashuju"></span>
        <p>大数据挖掘</p>
    </li>
    <li routerLink="/reportAnalysis">
        <span class="img fenxi_jianbian"></span>
        <p>分析报告</p>
    </li>
    <li routerLink="/news">
        <span class="img xinxi_jianbian"></span>
        <p>新闻发布</p>
    </li>
    <li routerLink="/remind">
        <span class="img tixing_jianbian"></span>
        <p>提醒服务</p>
    </li>
    <li>
        <span class="img yonghu_jiabian"></span>
        <p>工程档案</p>
    </li>
    <li class="dis">
        <span class="img xingzheng_jianbian"></span>
        <p>行政服务</p>
    </li>
    <li class="dis">
        <span class="img yauncheng_jianbian"></span>
        <p>远程视频</p>
    </li>
    <li class="dis">
        <span class="img huishang_zanwu"></span>
        <p>会商系统</p>
    </li>
</ul>